.select-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
  }
  
  .select-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .select-logo {
    width: 180px;
    margin-bottom: 40px;
  }
  
  .select-btn {
    width: 320px;
    padding: 14px 0;
    margin: 12px 0;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #e46822;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    outline: none;
  }
  
  .select-btn:hover {
    background-color: #cf5714;
  }
  
  .select-btn:active {
    transform: scale(0.97);
  }
  